# Ignora entornos virtuales
env/

# Ignora archivos de configuración sensibles
secretKeys.env

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de compilación
*.pyc
